flask==3.0.3
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-login==0.6.3
flask-jwt-extended==4.6.0
flask-cors==4.0.1
flask-caching==2.3.0
boto3==1.34.144
botocore==1.34.144
python-dotenv==1.0.1
werkzeug==3.0.3
gunicorn==22.0.0
python-magic==0.4.27
Pillow==10.4.0
redis==5.0.8
